<div class="container ">
  <div class="row pRelative filters">
    <span class="ElementAtRight dFlex">
      <label class="mRight50px">Sort by : </label>
      <span>
        <!-- Arrow up icon -->
        <i *ngIf="!order" class="fa fa-arrow-up pointer" (click)="sortBy()"></i>
        <!-- Arrow down icon -->
        <i
          *ngIf="order"
          class="fa fa-arrow-down pointer"
          (click)="sortBy()"
        ></i>
      </span>
      <ul class="no_style_list dFlex">
        <!-- Only the 'price' criteria is implemented for the technical test -->
        <li class="mRight50px">
          Price
        </li>
        <li class="mRight50px">Rating</li>
        <li>Brand</li>
      </ul>
    </span>
  </div>
  <div class="row dFlex productsDiv">
    <!-- Div of each product, same template for all -->
    <div
      class="col-md-3 col-lg-3 col-xs-12 articleDiv"
      *ngFor="let article of listOfProducts"
    >
      <img
        class="col-sm-12 col-xs-12"
        [src]="getArticleImageUrl(article)"
        [alt]="article.name"
      />
      <span>
        <label id="articleName">{{ article.name }}</label>
        <label>{{ article.creator }}</label>
      </span>
      <span>
        <figcaption>{{ article.price | currency: 'USD' }}</figcaption>
      </span>
    </div>
  </div>
</div>
