#articleName {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}
.sortingCriterias {
  text-align: center;
  border-right: 1px solid black;
  width: 85px;
}
.productsDiv {
  flex-wrap: wrap;
}
.articleDiv {
  margin: 0px 0px 94px 0px;
  height: 250px;
  width: 33%;
  padding: 0px 15px 0px 34px;
}
.filters {
  margin-bottom: 75px;
}

// Extra-small devices
@media (max-width: 576px) {
  .articleDiv {
    margin: 0px 41px 30px;
    height: 250px;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .ElementAtRight {
    margin: auto;
    position: relative;
  }
  .articleDiv {
    margin: 0px 41px 100px;
    height: 287px;
  }
}
