#articleName {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}
.mRight50px {
  margin-right: 50px;
}
.productsDiv {
  flex-wrap: wrap;
}
.articleDiv {
  margin: 0px 41px 70px;
  height: 250px;
}
.filters {
  margin-bottom: 75px;
}
