.helpPopupText {
  margin: auto;
}
.popUpContent {
  padding: 17px 16px;
}
#closeIcon {
  position: absolute;
  right: 0;
  font-size: 20px;
}
.divForCloseIcon {
  position: relative;
  height: 15px;
}
.callBackButton {
  text-decoration: underline;
  font-weight: 500;
}
