.carousel-indicators li {
  background-color: #dc3545 !important;
  margin-right: 35px !important;
}
#no_style_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.home_categories {
  position: absolute;
  bottom: 0;
}
#no_style_list li {
  margin-bottom: 15px;
}
#vertical_left_black_line {
  height: 20%;
  border-left: 1px solid black;
}
