<div class="container-fluid">
  <div class="row">
    <!--SHOP DIV-->
    <div class="col-md-3">
      <h1>Shop</h1>
      <!-- Vertical left black line -->
      <div id="vertical_left_black_line"></div>
      <!-- Categories -->
      <div class="home_categories">
        <ul id="no_style_list">
          <li>Home furnishings</li>
          <li>Accessories</li>
          <li>Sports</li>
          <li>Clothing wear</li>
        </ul>
      </div>
    </div>
    <!-- CARROUSEL BEGINNING -->

    <div
      id="carouselExampleIndicators"
      class="carousel slide col-md-6"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="./assets/images/green_chair.png"
            class="d-block w-100"
            alt="green chair"
          />
        </div>
        <div class="carousel-item">
          <img
            src="./assets/images/diner_table.png"
            class="d-block w-100"
            alt="diner table"
          />
        </div>
        <div class="carousel-item">
          <img
            src="./assets/images/blue_sofa.png"
            class="d-block w-100"
            alt="blue sofa"
          />
        </div>
      </div>
    </div>

    <!-- CARROUSEL END -->

    <!-- SHOP NOW DIV -->
    <div class="col-md-3">
      <div class="home_categories">
        <button class="btn btn-dark">Shop Now</button>
      </div>
    </div>
  </div>
</div>
